@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");


.image_featured{
    width: "10px";
    height: "10px";
    position: relative;
}
.container {
    position: relative;
    width: 10%;
    height: 10%;
    overflow: auto;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .7s ease;
    overflow: none;
}
.container:hover .overlay{
    opacity: 1;
    transition: .7s ease;
}
.container:hover .image_featured{
    opacity: 0.3;
    transition: .7s ease;
}
.DemoGif{
    position: relative;
    width: 0px;
    height: 10px;
    left: 0%;
    top: 0%
}