@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");


.image_featured{
    position: relative;
}
.container {
    position: relative;
    width: 100%;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 20%;
    opacity: 0;
    transition: .7s ease;
    
}
.overlay:hover .overlay{
    opacity: 1;
    transition: .7s ease;
}
.container:hover .image_featured{
    opacity: 0.3;
    transition: .7s ease;
}
.collegeIm{
    position: relative;
    left: 190%;
    top: 10%
}
